<h1>Add site</h1>
<form class="" action="/add-site" method="POST">
  <div class="mb-3 mt-3">
    <label for="link" class="form-label">Site address (url link)</label>
    <input type="text" name="link" class="form-control" id="link" />
  </div>
  <div class="mb-3 mt-3">
    <label for="name" class="form-label">Site name</label>
    <input type="text" name="name" class="form-control" id="name" />
  </div>
  <div class="mb-3 mt-3">
    <label for="desc" class="form-label">Site description</label>
    <input type="text" name="desc" class="form-control" id="desc" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>