<h1 class="mb-3">Login</h1>
<form action="/login" method="POST">
  <div class="mb-3 mt-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" required name="email" class="form-control" id="email" aria-describedby="email" />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" required name="password" class="form-control" id="password" aria-describedby="password" />
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>